---
layout: japanese
title: Home
heading: Welcome to picoKnow!
sub: Learn. Practice. Master. Conquer!
content: Welcome to picoKnow. The site is currently under heavy development. please bear with us. 
searchignore: true
---

<script>
  (function() {
    var cx = '008618238231238324717:csk_b9kyugq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<!--
<div id="example-list">
    <input class="search" id="input" autofocus="autofocus"/>
    <ul class="list">
        {% for page in site.pages %}
        {% unless searchignore == true %}
        <li>
            <a href="{{ site.url }}{{ page.url }}">
                <span class="name">{{page.title}}</span>
                <small class="description">{{page.description}}</small>
            </a>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
</div>-->
<form method="get" action="http://www.google.com/search">
<input type="text" name="q" size="25" maxlength="255" value="" />
<input type="hidden" name="sitesearch" value="picoknow.bitbucket.org" />
<input type="submit" value="Search website" />
</form>
<script>
    {% include js/search-list.js %}
</script>-->