/* Menu Styles */
ul.menu{
    list-style:none;
}
/* Commence Page-Meta styles */
page-meta{
	font-style:underline;
}
page-meta user{
	font-style:bold;
}
page-meta short{
 	font-style:italic;
}
/* Commence font styles */
font: /*125%/1.5*/ Helvetica Neue, Helvetica, Open Sans, Arial, sans-serif;
/* END */