/* Menu Styles */
ul.menu{
    list-style:none;
}
/* Commence Page-Meta styles */
.page-meta{
	font-style:underline;
}
.page-meta .user{
	font-style:bold;
}
.page-meta .short{
 	font-style:italic;
}
/*	Body */
body {
	font: Helvetica Neue, Helvetica, Open Sans, Arial, sans-serif;
	color:#222;
}
/*	Font colo(u)r */
a {
	color:#D87A68;
	font-weight:700;
}

/* END */
@media (min-width:650px){
    body { 
    background-image:url(/images/background.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom right; 
    }
}