<!DOCTYPE html>
<html>
    <head>
        <!-- Add some meta -->
        <title>{{ page.title }} - {{site.title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- SEO -->
        <meta name="description" content="{% if page.short %}
                                              {{page.short}}
                                          {% elsif page.title %}
                                              {{page.title}}
                                          {% endif %}">
        <meta name="keywords" content="{{page.tags}},americano,programming,language,spec,project,coffee">
        <meta name="author" content="{{page.user}}">
        <!-- Add some styles -->
            <!-- Custom Styles -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
            <!-- Layout Styles -->
        <link rel="stylesheet" type="text/css" href="/css/tmp.css" />
            <!-- Grid Styles -->
        <link rel="stylesheet" type="text/css" href="/css/toast.css" />
    </head>
    <body>
        <div class="container">
            <div class="grid">
                <div id="header" class="unit two-of-five">
                    <h1>
                        {{site.title}}
                    </h1>
                    {% include menu.html %}
                    <br />
                </div>
                <div id="content" class="unit three-of-five">
                    <h2 class="page-title">
                        {{page.title}}
                    </h2>
                    <div class="page-meta">
                        {% if page.user %}
                            <span class="user">By <a href="http://github.com/{{page.user}}">{{page.user}}</a></span><br />    
                        {% endif %}
                        {% if page.short %}
                            <span class="short">{{page.short}}</span>
                        {% endif %}
                    </div>
                    <article class="page-content">
                        {{ content }} 
                    </article>
                </div>
                <div id="footer" class="unit span-grid">
                    <hr />
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
