<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/tmp.css" />
        <link rel="stylesheet" type="text/css" href="/css/toast.css" />
    </head>
    <body>
        <div class="container">
            <div class="grid">
                <div id="header" class="unit two-of-five">
                    <h1>
                        {{site.title}}
                    </h1>
                    
                    <hr />
                </div>
                <div id="content" class="unit three-of-five">
                    <p>
                        {{ content }} 
                    </p>
                </div>
                <div id="footer" class="unit span-grid">
                    <hr />
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
